<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de egresados</title>
</head>
<body>
    <h1>AQUI DEBERIA IR LA BUSQUEDA</h1>
    {% for egresado in lista %}
    <h1>{{egresado.personal.nombre}}</h1>
        {%for grado in egresado.grados_un%}
        <h2>{{grado.trabajo_grado.tesis.titulo}}</h2>
        <h3>{{grado.trabajo_grado.tesis.descripcion}}</h3>
        {% endfor %}
    <h1>{{egresado.score}}</h1>
    {% endfor %}
</body>
</html>